---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("August 08 2021")}
	heroImage={AboutHeroImage}
>
	<p>
		I started my journey in 1998 working at an internet café. From there, I
		studied programming and built basic applications using Visual Basic. My
		first important software was a system that allowed customers to save and
		restore their game progress. After that, I studied how to create video
		games, learning a lot about algorithms and low-level drawing techniques.
	</p>

	<p>
		In 2008, I started working as a C++ developer at Gameloft. There, I
		learned how to adapt video games to different mobile devices and
		platforms. I worked on several projects, and the most interesting one
		was <em>Bridge Odyssey</em>, where we implemented a mixed 3D game scene
		with 2D projected characters. It was a very challenging and rewarding
		experience.
	</p>

	<p>
		After that, I moved into mobile development and continued exploring new
		programming languages and frameworks. Today, I work as a backend
		developer using Java and Spring Boot. I continue to find new
		technologies that help me to develop faster and better software.
	</p>
</Layout>
