---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi, I'm Ariel Chacón</h1>
			<p>
				I’m a software developer exploring full-stack development, with
				a strong interest in backend technologies and software
				architecture.
			</p>
			<p>
				The purpose of this blog is to share my learning journey and
				document the progress I make as I work toward becoming a
				stronger, more well-rounded developer.
			</p>
		</main>
		<Footer />
	</body>
</html>
